<section class="py-20 px-6 md:px-16 bg-gray-50 min-h-screen">
  <h2 class="text-4xl font-bold text-center mb-12 text-main-color uppercase">
    Our Menu
  </h2>
  <h3 class="text-3xl font-semibold mb-2 text-primary-color">Main Dishes</h3>
  <div
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8 mb-8"
    data-aos="fade-up"
  >
    <div
      [routerLink]="['/meal', 'pizza']"
      class="bg-white cursor-pointer rounded-2xl shadow-md hover:shadow-lg transition duration-300"
    >
      <img
        src="/images/meals/pizza.png"
        alt="PIZZA"
        class="rounded-t-2xl w-full h-48 object-contain"
      />
      <div class="p-4 text-center border-2 border-main-color rounded-b-2xl">
        <h3 class="text-xl font-semibold text-gray-800">PIZZA</h3>
      </div>
    </div>

    <div
      [routerLink]="['/meal', 'pasta']"
      class="bg-white cursor-pointer rounded-2xl shadow-md hover:shadow-lg transition duration-300"
    >
      <img
        src="/images/meals/pasta.jpeg"
        alt="PASTA"
        class="rounded-t-2xl w-full h-48 object-cover"
      />
      <div class="p-4 text-center border-2 border-main-color rounded-b-2xl">
        <h3 class="text-xl font-semibold text-gray-800">PASTA</h3>
      </div>
    </div>
    <div
      [routerLink]="['/meal', 'chicken']"
      class="bg-white cursor-pointer rounded-2xl shadow-md hover:shadow-lg transition duration-300"
    >
      <img
        src="/images/meals/chicken.jpg"
        alt="CHICKEN"
        class="rounded-t-2xl w-full h-48 object-cover"
      />
      <div class="p-4 text-center border-2 border-main-color rounded-b-2xl">
        <h3 class="text-xl font-semibold text-gray-800">CHICKEN</h3>
      </div>
    </div>
    <div
      [routerLink]="['/meal', 'fish']"
      class="bg-white cursor-pointer rounded-2xl shadow-md hover:shadow-lg transition duration-300"
    >
      <img
        src="/images/meals/fish.jpg"
        alt="FISH"
        class="rounded-t-2xl w-full h-48 object-cover"
      />
      <div class="p-4 text-center border-2 border-main-color rounded-b-2xl">
        <h3 class="text-xl font-semibold text-gray-800">FISH</h3>
      </div>
    </div>
  </div>
  <h3 class="text-3xl font-semibold mb-2 text-primary-color">Sandwiches</h3>
  <div
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8 mb-8"
    data-aos="fade-up"
  >
    <div
      [routerLink]="['/meal', 'hamburger']"
      class="bg-white cursor-pointer rounded-2xl shadow-md hover:shadow-lg transition duration-300"
    >
      <img
        src="/images/meals/Hamburger.jpg"
        alt="HAMBURGER"
        class="rounded-t-2xl w-full h-48 object-cover"
      />
      <div class="p-4 text-center border-2 border-main-color rounded-b-2xl">
        <h3 class="text-xl font-semibold text-gray-800">HAMBURGER</h3>
      </div>
    </div>
  </div>
  <h3 class="text-3xl font-semibold mb-2 text-primary-color">
    Salads & Appetizers
  </h3>
  <div
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8 mb-8"
    data-aos="fade-up"
  >
    <div
      [routerLink]="['/meal', 'salad']"
      class="bg-white cursor-pointer rounded-2xl shadow-md hover:shadow-lg transition duration-300"
    >
      <img
        src="/images/meals/salad.jpg"
        alt="SALAD"
        class="rounded-t-2xl w-full h-48 object-cover"
      />
      <div class="p-4 text-center border-2 border-main-color rounded-b-2xl">
        <h3 class="text-xl font-semibold text-gray-800">SALAD</h3>
      </div>
    </div>
    <div
      [routerLink]="['/meal', 'corn']"
      class="bg-white cursor-pointer rounded-2xl shadow-md hover:shadow-lg transition duration-300"
    >
      <img
        src="/images/meals/corn.jpg"
        alt="CORN"
        class="rounded-t-2xl w-full h-48 object-cover"
      />
      <div class="p-4 text-center border-2 border-main-color rounded-b-2xl">
        <h3 class="text-xl font-semibold text-gray-800">CORN</h3>
      </div>
    </div>
  </div>
  <h3 class="text-3xl font-semibold mb-2 text-primary-color">Fresh Juices</h3>
  <div
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8 mb-8"
    data-aos="fade-up"
  >
    <div
      [routerLink]="['/meal', 'mango']"
      class="bg-white cursor-pointer rounded-2xl shadow-md hover:shadow-lg transition duration-300"
    >
      <img
        src="/images/meals/orangejuice.jpg"
        alt="mango"
        class="rounded-t-2xl w-full h-48 object-cover"
      />
      <div class="p-4 text-center border-2 border-main-color rounded-b-2xl">
        <h3 class="text-xl font-semibold text-gray-800">FRESH JUICE</h3>
      </div>
    </div>
  </div>
  <h3 class="text-3xl font-semibold mb-2 text-primary-color">Ice Cream</h3>
  <div
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8 mb-8"
    data-aos="fade-up"
  >
    <div
      [routerLink]="['/meal', 'ice cream']"
      class="bg-white cursor-pointer rounded-2xl shadow-md hover:shadow-lg transition duration-300"
    >
      <img
        src="/images/meals/Ice-cream.jpg"
        alt="ICE CREAM"
        class="rounded-t-2xl w-full h-48 object-cover"
      />
      <div class="p-4 text-center border-2 border-main-color rounded-b-2xl">
        <h3 class="text-xl font-semibold text-gray-800">ICE CREAM</h3>
      </div>
    </div>
  </div>
</section>
