<nav
  class="fixed w-full z-50 bg-white dark:bg-gray-900 transition-colors duration-300"
>
  <div
    class="max-w-screen-xl mx-auto px-4 py-3 flex items-center justify-between"
  >
    <!-- Logo -->
    <a
      routerLink="/home"
      class="flex gap-1 text-2xl font-bold text-gray-900 dark:text-white tracking-wide"
    >
      <img
        class="bg-main-color p-2 rounded-lg shadow-custom"
        src="/images/F.svg"
        alt="logo"
      />
      <img src="/images/oodi.svg" alt="logo" />
    </a>

    <!-- Toggle button (mobile) -->
    <button
      type="button"
      class="md:hidden text-gray-700 dark:text-gray-300 focus:outline-none"
      (click)="isMenuOpen = !isMenuOpen"
    >
      <svg
        class="w-6 h-6"
        fill="none"
        [attr.stroke]="isDark ? 'white' : 'black'"
        stroke-width="2"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M4 6h16M4 12h16M4 18h16"
        ></path>
      </svg>
    </button>

    <!-- Nav Links -->
    <ul class="hidden md:flex gap-6 text-black dark:text-gray-200 font-medium">
      <li>
        <a
          class="hover:text-main-color"
          routerLink="/home"
          routerLinkActive="text-main-color"
        >
          Home
        </a>
      </li>
      <li>
        <a
          class="hover:text-main-color"
          routerLink="/menu"
          routerLinkActive="text-main-color"
        >
          Menu
        </a>
      </li>
      <li>
        <a
          class="hover:text-main-color"
          routerLink="/services"
          routerLinkActive="text-main-color"
        >
          Services
        </a>
      </li>
      <li>
        <a
          class="hover:text-main-color"
          routerLink="/offers"
          routerLinkActive="text-main-color"
        >
          Offers
        </a>
      </li>
      <li>
        <button
          (click)="toggleTheme()"
          class="flex items-center gap-2"
          aria-label="Toggle theme"
        >
          <span class="hidden sm:inline">
            {{ isDark ? "Light" : "Dark" }}
          </span>
          @if (!isDark) {<span>🌙</span>} @if (isDark) {<span>☀️</span>}
        </button>
      </li>
    </ul>
  </div>

  <!-- Mobile Menu -->
  @if(isMenuOpen){
  <div
    class="md:hidden p-4 flex flex-col space-y-2 bg-white dark:bg-gray-900 text-black dark:text-gray-100 transition-colors duration-300"
  >
    <a
      routerLink="/home"
      (click)="isMenuOpen = false"
      routerLinkActive="text-main-color"
      class="hover:text-main-color"
      >Home</a
    >
    <a
      routerLink="/menu"
      (click)="isMenuOpen = false"
      routerLinkActive="text-main-color"
      class="hover:text-main-color"
      >Menu</a
    >
    <a
      routerLink="/services"
      (click)="isMenuOpen = false"
      routerLinkActive="text-main-color"
      class="hover:text-main-color"
      >Services</a
    >
    <a
      routerLink="/offers"
      (click)="isMenuOpen = false"
      routerLinkActive="text-main-color"
      class="hover:text-main-color"
      >Offers</a
    >
    <button
      (click)="toggleTheme()"
      class="flex items-center gap-1"
      aria-label="Toggle theme"
      (click)="isMenuOpen = false"
    >
      <span class="sm:inline">
        {{ isDark ? "Light" : "Dark" }}
      </span>
      @if (!isDark) {<span>🌙</span>} @if (isDark) {<span>☀️</span>}
    </button>
  </div>
  }
</nav>
