<!-- Footer -->
<footer class="container bg-white border-t mt-12">
  <div
    class="container mx-auto px-6 py-12 grid grid-cols-1 md:grid-cols-4 gap-8 text-sm text-gray-600"
  >
    <!-- Brand -->
    <div>
      <a
        class="flex gap-1 mb-2 text-xl font-bold text-white dark:text-white tracking-wide"
      >
        <img
          class="bg-main-color p-2 rounded-lg shadow-custom"
          src="/images/F.svg"
          alt="logo"
        />
        <img src="/images/oodi.svg" alt="logo" />
      </a>
      <p>Savor the artistry where every dish is a culinary masterpiece</p>
      <div class="flex space-x-4 mt-4 text-2xl text-black">
        <a href="https://wa.me/+201061037276"
          ><i class="fa-brands fa-whatsapp hover:text-main-color"></i
        ></a>
        <a href="https://github.com/AbdelazizKishk"
          ><i class="fa-brands fa-github hover:text-main-color"></i
        ></a>
        <a href="https://www.linkedin.com/in/abd-elaziz-mohamed258/"
          ><i class="fa-brands fa-linkedin hover:text-main-color"></i
        ></a>
        <a
          href="https://mail.google.com/mail/?view=cm&fs=1&to=abdelazizkishk19@gmail.com"
          ><i class="fa-solid fa-envelope hover:text-main-color"></i
        ></a>
      </div>
    </div>

    <!-- Useful Links -->
    <div>
      <h3 class="font-semibold text-gray-800 mb-3">Useful links</h3>
      <ul class="space-y-2">
        <li><a href="#" class="hover:underline">About us</a></li>
        <li><a href="#" class="hover:underline">Events</a></li>
        <li><a href="#" class="hover:underline">Blogs</a></li>
        <li><a href="#" class="hover:underline">FAQ</a></li>
      </ul>
    </div>

    <!-- Main Menu -->
    <div>
      <h3 class="font-semibold text-gray-800 mb-3">Main Menu</h3>
      <ul class="space-y-2">
        <li><a routerLink="home" class="hover:underline">Home</a></li>
        <li><a routerLink="services" class="hover:underline">Services</a></li>
        <li><a routerLink="menu" class="hover:underline">Menus</a></li>
        <li><a routerLink="offers" class="hover:underline">Offers</a></li>
      </ul>
    </div>

    <!-- Contact -->
    <div>
      <h3 class="font-semibold text-gray-800 mb-3">Contact Us</h3>
      <ul class="space-y-2">
        <li>abdelazizkishk19{{ "@" }}gmail.com</li>
        <li>+201061037276</li>
        <li><a href="#" class="hover:underline">Egypt,Cario</a></li>
      </ul>
    </div>
  </div>
  <div class="text-center text-xs text-gray-500 py-4 border-t">
    © 2024 Abdelaziz Mohamed | All rights reserved.
  </div>
</footer>
